.body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}
.container {
  margin-top: 2em;
  width: 70%;
  padding: 20px;
  height: 100%;
}

h2,
h3 {
  text-align: center;
  color: #333;
}

.profile{
  width: 100%;
}
.profile_details {
  margin-bottom: 20px;
}

.orders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 2fr;
  width: 100%;
  grid-gap: 20px;
}

.order_card {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_details p {
  margin: 5px 0;
}

.order_details p strong {
  font-weight: bold;
}

.btn_minus,
.btn_plus {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn_minus:hover,
.btn_plus:hover {
  background-color: #0056b3;
}

.quantity {
  margin: 0 10px;
}

.btn_checkout {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btn_checkout:hover {
  background-color: #218838;
}
